gunicorn==0.17.2
django-admin-bootstrapped==0.3.2
Django==1.5
dj-database-url==0.2.1
dj-static==0.0.5
MySQL-Python==1.2.4
South
-e git+https://github.com/pythonforfacebook/facebook-sdk#egg=FacebookSDK
django-socialregistration