gunicorn==0.17.2
django-admin-bootstrapped==0.3.2
Django==1.5
dj-database-url==0.2.1
dj-static==0.0.5
MySQL-Python==1.2.4
South==0.7.6
django-annoying==0.7.6
django-debug-toolbar==1.0.1
validate-email==1.1
django-compressor==1.2
dj-static==0.0.5
