
.navbar {
}

.success {
    background-color:lightblue;
}
.error {
    background-color:salmon;
}


.welcome-container {
    #color:white;
    float:left;
    background-color:white;
    padding-top:0px;
    margin-top:20px;
    padding-left:0px;
    height:650px;
    background:none;
}

.sound-of-music {
    float:left;
    width:100%;
    z-index:-1;
}

.sound-of-music-header {
    float: left;
    margin-left: 0%;
    margin-top: 0px;
    word-wrap:break-word;
    padding-right:20px;
    margin-bottom: 23px;
    width:100%;
}

.over-sound-of-music {
    position: absolute;
}

.upside-down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.register-input {
    width: 75%;
    height: 50px;
    font-size: 19px;
    max-width:400px;
}

.form-group {
    margin-bottom: 13px;
    padding-left: 1%;
}

label {
    float: left;
    width: 100%;
    padding-top: 4px;
    font-size: 20px;
    #color: rgb(228, 228, 228);
    color: rgb(145, 145, 145);
}



.snake-drawing {
    position: absolute;
    z-index: -1;
    width: 549px;
    float: right;
    left: 462px;
    top: 122px;
}

.already-registered {
    margin-top: 17px;
}

a.sign-in-button {
    margin-left:20px;
    color:white;
    float: left;
    margin-top: 8px;
    margin-right:100px;
}

.pt-logo {
    font-weight:bold;
    color:black;
}

.pt-footer {
    width: 77%;
    margin-left: 10%;
    padding-bottom:15px;
    padding-top:15px;
}

.footer-bar {

    border-top: 1px solid gray;
}

.latin {
    font-style:italic;
    margin-left: 20px;
}

.footer-text {
    margin-top:15px;
    float:left;
}

.twitter-link {
    margin-top:15px;
    color:black;
    float:right;
}
.twitter-link:hover {
    color:gray;
}

span.password-error-message {
    padding-left: 9px;
    color: red;
    margin-top:5px;
    float:left;
    width:100%;
    display:none;
}

.register-button {
    margin-left: 1%;
    margin-top: 25px;
    max-width:400px;
    width:75%;
}

.loading-gif {
    width: 100px;
    height: 100px;
    max-margin-left: 156px;
    margin-left:20%;
    margin-top: 45px;
    display:none;
}

.login-wrapper .over-sound-of-music {
    left: 47%;
}

.snake-drawing2 {
    top: 4px;
width: 365px;
position: absolute;
left: -138%;
}

.disco-josh {
    margin-left: 36%;
margin-right: auto;
margin-top: 110px;
margin-bottom: 110px;
}

.atleast {
    min-height:600px;
}