<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ PAGE_TITLE }} | Jasper Dashboard</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/pure-min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>

<div id="fb-root"></div>
<script>
    // Additional JS functions here
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '365137646922410', // App ID
            channelUrl : '/channel', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });

        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                postUserAuth(response.authResponse.accessToken);
            } else if (response.status === 'not_authorized') {
                // not_authorized
                //login();
            } else {
                // not_logged_in
                // login();
            }
        });

        FB.Event.subscribe('auth.login', function () {
            // what happens after they click the facebook button
            postUserAuth();
        });

    };

    function postUserAuth(token) {

        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {

            if (token == null){
                // quirk the first time you authenticate
                document.location.reload(true);
            }

            $('#connect-result').html("Loading...");

            var url = "/facebook_callback/?token="+token;
            $.get(url, function(data) {
                $('#connect-result').html(data);
                window.location = "http://fakeblock.herokuapp.com/done_token/";
            });

            console.log('Good to see you, ' + response.id + '.');
        });
    }


    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>

<h1>Connect TrueSpeak with Facebook</h1>


<div class="fb-login-button" scope="" data-show-faces="false" data-width="400" data-max-rows="1"></div>
<span id="connect-result"></span>

</div>
</body>
</html>
