<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ PAGE_TITLE }} | Jasper Dashboard</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/pure-min.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    </head>
    <body>
        You're done!
        <br /><br />
        <input type="hidden" id="plugin-token" value="" data-auth_token="{{ plugin_token }}" data-fb_id="{{ fb_id }}" data-fb_handle="{{ fb_handle }}"></input>
    </body>
</html>
