{% extends "base.html" %}
{% load filters %}

{% block css %}
    {% include_style "css/register" %}
{#    {% include_style "css/home" %}#}
{% endblock %}

{% block body %}

    <div class="initially-hidden pt-no-ext">
        <div class="container-narrow home-container-narrow">
            <div class="jumbotron home-wrapper">
                <div class="row">
                    {#                    <div class="image-wrapper">#}
                    {#                <img src="/static/img/snake-icon-128.png" class="snake-icon">#}
                    {#                    </div>#}
                    <h2 class="home-bold-text you-must-first">
                        To use ParselTongue first install the extension.
                    </h2>
                </div>

                <a class="btn btn-primary chrome-btn"
                   onClick=”_gaq.push(['_trackEvent', 'sign up', 'get parseltongue']);”
                href="https://chrome.google.com/webstore/detail/parseltongue/egpagjaeoilneaefepllapmajaoefcgd?hl=en&gl=US" target="_blank">Get Parseltongue for Chrome </a>
                {% include "share_snippet.html" %}

                <div class="home-tutorial-header">
                    See the <a href="#tutorial-carousel">tutorial</a> or read our <a href="/faq/">FAQ</a> to learn more.
                </div>

            </div>

            {% include "tutorial_snippet.html" %}
        </div>
    </div>

    <div class="pt-ext-installed">
        {% block the_body %}

        {% endblock %}
    </div>

{% endblock %}