{% extends "base.html" %}
{% load filters %}

{% block css %}
    {% include_style "css/faq" %}
{% endblock %}

{% block body %}
    <div class="faq-nav affix col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="#use">
                    How do I use ParselTongue?
                </a>
            </li>
            <li>
                <a href="#work">
                    How does ParselTongue work? 
                </a>
            </li>
            <li>
                <a href="#make">
                    Who made ParselTongue? 
                </a>
            </li>
            <li>
                <a href="#trust">
                    Why should I trust ParselTongue more than Google?
                </a>
            </li>
            <li>
                <a href="#downsides">
                    What are the downsides?
                </a>
            </li>
            <li>
                <a href="#future">
                    What is the future of ParselTongue?
                </a>
            </li>
            <li>
                <a href="#tech">
                    How does ParselTongue really work?
                </a>
                <ul class="nav">
                    <li>
                        <a href="#key-generation"> 
                            Key Generation
                        </a>
                    </li>
                    <li>
                        <a href="#encryption"> 
                            Encryption
                        </a>
                    </li>
                    <li>
                        <a href="#decryption"> 
                            Decryption
                        </a>
                    </li>
                </ul>

            </li>
        </ul>
    </div>

    <div class="container-narrow">
        <div class="jumbotron faq-wrapper">
            <h3 id="use"> 
                How do I use ParselTongue? 
            </h3>
            <p>
                First, <a href="https://chrome.google.com/webstore/detail/parseltongue/egpagjaeoilneaefepllapmajaoefcgd?hl=en&gl=US" target="_blank">install the ParselTongue Google Chrome Extension</a>.
            </p>
            <p>
                Second, <a href="/register/" target="_blank">register </a> any Gmail addresses that you would like to use with ParselTongue.
            </p>
            <p>
                That's <strong> all it takes to set it up. </strong> You can also check out the <a href="/tutorial"> tutorial </a> on how to get started.
            </p>

            <h3 id="work"> 
                How does ParselTongue Work? 
            </h3>
            <p>
                ParselTongue is a Google Chrome extension which uses Javascript and a public key store to encrypt emails between ParselTongue users.
            </p>
            <p>
                When you register for ParselTongue, your browser generates a public/private key pair.
                Your private key is stored in the extension's local storage which sandboxed from other domains and only the extension can access.
                Your public key is uploaded to the ParselTongue public key server where other users have access to it.
            <p>
                ParselTongue then works on top of your Gmail to detect when you are emailing another ParselTongue user and encrypts your emails to other ParselTongue users using their public key.
                This encryption takes place in your browser, so plain text never gets sent through Google's servers, or onto the network at all. Even when Gmail is saving your drafts, all of the content is encrypted.
            <p>
                The cipher text that passes through the network is encrypted with a 1024 bit public key, such that an adversary would be unable to decipher it unless they possess the correct private key.
            </p>
            <p>
                When your intended recipient opens your email, ParselTongue uses their private key in their browser's local storage to seamlessly decrypt the email. You see plain text, and they see plain text, and no else can in between.
            </p>

            <h3 id="make"> 
                Who made ParselTongue? 
            </h3>
            <p>
                Stephanie Wang (MIT '15), Josh Blum (MIT '14), and Max Fowler (Brown '14). We originally built
                ParselTongue for the NYC Facebook hackathon in the summer of 2013. Over the winter of 2014, we built it out to release. We think that ParselTongue can go a long way against blanket surveillance, and that client-side encryption should be the standard for private communication.
            </p>

            <h3 id="trust"> 
                Why should I trust ParselTongue more than Google?
            </h3>
            <p>
                The beauty of client-side encryption is you don't have to. We don't store your password. We don't have your private key.
                The <a href="https://github.com/maximusfowler/true-speak" target="_blank">public key server</a> and <a href="https://github.com/joshblum/fakeblock" target="_blank">extension</a> are both public on GitHub.
            </p>

            <h3 id="downsides"> 
                What are the downsides? 
            </h3>
            <p>
                Because your ParselTongue encrypted emails are stored as cipher text on Google's servers, Gmail search won't be able to understand the contents of your emails (because it can't read them), but you will still be able to search
                by email subject and recipient (which are not encrypted). Also, any browser you read your email from must have the ParselTongue extension installed in order to read the emails. Besides that, ParselTongue is completely seamless and won't effect your Gmail experience in any way -- other than that the NSA won't be able to read your emails anymore.
            </p>

            <h3 id="future"> 
                What is the future of ParselTongue? 
            </h3>
            <p>
                We would like to add a feature to allow power users to manually enter a private key into the extension. Currently we store a password encrypted version of your private key on our servers to allow users to install the extension on multiple machines. This provides a level of security up to the strength of the user's password, but for users who demand an even stronger security guarantee we would like to allow them to install and store their private
                key by whatever method they see fit.
            </p>

            <h3 id="tech"> 
                How does ParselTongue really work? 
            </h3>
            <h4 id="key-generation">
                Key Generation
            </h4>
            <p>
                Two types of keys are used in Parseltongue, 256 bit AES keys and 1024 bit RSA public/private key pairs.
            </p>
            <p>
                An AES key is generated during message composition using window.crypto. This is the key that used to encrypt the message content (described below) and one key is generated per message.
            </p>
            <p>
                The RSA keys are generated by the <a href="https://github.com/wwwtyro/cryptico">cryptico library</a> during registration. The ParselTongue server stores the public key and user password AES encrypted private key. For this reason your user password is not recoverable.
            </p>
            <p>
                Since the public key and encrypted private key are stored, when you install the extension on a machine, these are pulled from the server and allow you to read old messages that you encrypted from a different machine. When you log out of ParselTongue, your private key can be deleted from localstorage since an encrypted version of the key is still stored on the server.
            </p>
            <h4 id="encryption">
                Encryption
            </h4>
            <p>
                The encryption scheme for Parseltongue relies on both AES and RSA encryption techniques. When composing a message a random 256 bit shared secret is created and the message content is AES encrypted using this secret. The shared secret is then encrypted using the 1024 bit RSA public key of each person involved in the message. The blob of encrypted message content and encrypted secrets is what is sent.
            </p>
            <p>
                When you are composing a message with the extension installed you are actually typing into a overlay div so Gmail's elements never see the raw text of your email. Everything you type when encryption is active is encrypted on each keystroke. This way any autosaved drafts are never stored in plain text by Google. 
            </p>
            <h4 id="decryption">
                Decryption
            </h4>
            <p>
                To decrypt, the private key stored on the machine is used to decrypt the secret. Once decrypted, the secret is used to decrypt the message which is shown the user. Using the combination of AES and RSA encryption the messages can be read by all participants and participants can access the message from multiple machines. 
            </p>

        </div>

    </div>
{% endblock %}