{% extends "base.html" %}
{% load filters %}
{% load staticfiles %}

{% block css %}
    {% include_style "css/home" %}
{% endblock %}

{% block body %}

    <div class="container-narrow home-container-narrow">
        <div class="jumbotron home-wrapper">
                <div class="row">
                    <div class="col-md-2">
                    <div class="image-wrapper">
                <img src="{% static "img/snake-icon-128.png" %}" class="snake-icon">
                    </div>
                    </div>
                    <div class="col-md-10">
                    <h2 class="home-bold-text">
                       Encryption for Gmail, in your browser.
                    </h2>
                    <h3 class="home-bold-text">
                       Secure your email from eavesdroppers.
                    </h3>
                    </div>
                </div>

            <a class="btn btn-primary full-width chrome-btn"
               onClick=”_gaq.push(['_trackEvent', 'sign up', 'get parseltongue']);”
               href="https://chrome.google.com/webstore/detail/parseltongue/egpagjaeoilneaefepllapmajaoefcgd?hl=en&gl=US" target="_blank">Get ParselTongue for Chrome </a>
            {% include "share_snippet.html" %}

            <div class="home-tutorial-header">
               See the tutorial below or read our <a href="/faq/">FAQ</a> to learn more.
            </div>
            
        </div>

        {% include "tutorial_snippet.html" %}
    </div>

{% endblock %}

{% block scripts %}
    {% include_script "js/share" %}
{% endblock %}