{% extends "base.html" %}
{% load filters %}

{% block css %}
    {% include_style "css/home" %}
{% endblock %}

{% block body %}

    <div class="container-narrow">
        <div class="jumbotron home-wrapper">
                <div class="row">
                    <div class="col-md-2">
                    <div class="image-wrapper">
                <img src="http://icons.iconarchive.com/icons/martin-berube/animal/256/snake-icon.png" class="snake-icon" style="margin-top: 15px; ">
                    </div>
                    </div>
                    <div class="col-md-10">
                    <h2>
                          Encryption for Gmail, in your browser.
                    </h2>
                    <h3>
                        Secure your email from eavesdroppers.
                    </h3>
                    </div>
                </div>

            <a class="btn btn-primary chrome-btn" href="https://chrome.google.com/webstore/detail/parseltongue/egpagjaeoilneaefepllapmajaoefcgd?hl=en&gl=US" target="_blank">Get Parseltongue for Chrome </a>
            {% include "share_snippet.html" %}

        </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row" style="width:90%; margin:auto;">
        <div class="col-md-4">
            <h2>Secure</h2>
            <p>
                Speak freely knowing that only the intended recipients of your messages can read them. With ParselTongue installed, your communications can be decrypted with the private key which only your message recipient has.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Seamless</h2>
            <p>
                Once you've installed the ParselTongue chrome extension, that's it. ParselTonge will keep your communications secure and you'll forget it's even there.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Snakes</h2>
            <p>
                Snakes are elongated, legless, carnivorous reptiles of the suborder Serpentes that can be distinguished from legless lizards by their lack of eyelids and external ears.
            </p>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include_script "js/share" %}
{% endblock %}