{% extends "base.html" %}
{% load filters %}

{% block css %}
    {% include_style "css/login" %}
{% endblock %}


{% block body %}

    <div class="container">
        <div class="jumbotron welcome-container login-wrapper">

            <div class="over-sound-of-music">
                <h1 class="sound-of-music-header">
                    Sign In
                </h1>
                <form role="form">
                    <div class="form-group">
                        <input type="email" class="form-control register-input login_email" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control register-input login_password" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary register-button login_button">
                        Login
                    </button>
                    <span class="password-error-message login_error login-error-message"> 
                        Oops, email/password not found. Try again? 
                    </span>
                    <div class="loading-gif"></div>
                </form>
                <img class="login-snake" src="/static/img/login-snake.jpg"/>
            </div>
        </div>
    </div>

{% endblock %}