{% extends "base.html" %}
{% load filters %}

{% block css %}
    {% include_style "css/register" %}
{% endblock %}

{% block body %}

    <div class="pt-ext-installed">
        <div class="container">

            <div class="auth-container register-container">

                <div>
                    <h1 class="auth-header">
                        Welcome to ParselTongue
                    </h1>
                    <div class="upper-section">
                        <form role="form" class="register_form register-form">
                            <div class="form-group">
                                <input type="email" class="form-control auth-input register_email" id="exampleInputEmail1" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control auth-input register_password1" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control auth-input register_password2 password-input" id="exampleInputPassword2" placeholder="Confirm Password">
                            </div>
                            <button type="submit" class="no_ext_installed btn btn-lg btn-primary auth-button register_button register-button" onClick=”_gaq.push(['_trackEvent', 'sign up', 'register']);”>
                            Register
                            </button>
                            <div class="register-message-wrapper">
                            <span class="password-error-message register_error error_div">
                                Oops, both passwords must be the same.
                            </span>
                                <div class="loading-gif register-loading">
                                    <img class="ellipsis-gif" src="/static/img/3_dots.gif"/>
                                </div>
                            </div>
                        </form>
                        <div class="snake-wrapper">
                            <img class="register-snake" src="/static/img/register-snake.png"/>
                        </div>
                    </div>
                    <div class="lower-section">

                        <div class="register-explain">
                            <p>
                                To learn about how ParselTongue works and why your password is <strong>non-recoverable</strong>, read our <a href="/faq/">FAQ</a>.
                            </p>
                        </div>

                    </div>

                </div>


            </div>

        </div>
    </div>

{% endblock %}