{% extends "base.html" %}
{% load filters %}

{% block css %}
{% include_style "/static/css/settings" %}
{% endblock %}

{% block body %}


    <div class="container-narrow">

        <!-- Main component for a primary marketing message or call to action -->
        <!-- <div class="jumbotron welcome-container settings-wrapper"> -->
        <div class="jumbotron settings-wrapper">

            <div class="container">
                <h1>Your Email Addresses</h1>
                <div class="settings-bottom">
                
                        <div class="settings-messages floated-wrapper">
                            <div class="settings-success"></div>
                            <div class="settings-error"></div>
                            <div class="loading-gif">
                                <img src="/static/img/flakes.gif"/>
                            </div>
                        </div>

                        <form role="form">
                            <div class="form-group new-email-form floated-wrapper">
                                <input type="email" class="form-control register-input new-email list-group-item" placeholder="Add Another Email Address">
                                <button type="submit" class="btn btn-lg btn-primary register-button new-email-save">Save</button>
                            </div>
                        </form>
                        
                        <div class="floated-wrapper"> 
                            <ul class="list-group" style="position: relative;">
                            {% for email, confirmed in associated_email_addresses %}
                                <li class="list-group-item email-address">
                                    {{ email }}
                                    {% if email != user.email %}
                                        <div class="email-btn delete-email" email="{{ email }}">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </div>
                                    {% endif %}
                                    {% if not confirmed %}
                                        <div class="email-btn resend-confirmation">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}    
                            </ul>
                        </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% include_script "js/settings" %}
{% endblock %}