{% extends "base.html" %}
{% load filters %}

{% block css %}
{% include_style "/static/css/settings" %}
{% endblock %}

{% block body %}


    <div class="container-narrow">

        <!-- Main component for a primary marketing message or call to action -->
        <!-- <div class="jumbotron welcome-container settings-wrapper"> -->
        <div class="jumbotron settings-wrapper">

            <div class="container">
                <h1>Your Email Addresses</h1>
                <div class="settings-bottom">

                        <form role="form">
                            <div class="form-group new-email-form">
                                <!-- <label for="exampleInputEmail1"></label> -->
                                <input type="email" class="form-control register-input new-email list-group-item" placeholder="Add Another Email Address">
                            <button type="submit" class="btn btn-lg btn-primary register-button settings-save new-email-save">Save</button>
                            </div>
                        </form>
                        
                        <ul class="list-group">
                        {% for email, confirmed in associated_email_addresses %}
                            <li class="list-group-item email-address">
                                {{ email }}
                                {% if email != user.email %}
                                    <div class="email-btn delete-email" email="{{ email }}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                {% endif %}
                                {% if not confirmed %}
                                    <div class="email-btn resend-confirmation">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}    
                        </table>

                    <div class="settings-messages">
                        <div class="settings-success"></div>
                        <div class="settings-error"></div>
                        <div class="loading-gif">
                            <img src="/static/img/flakes.gif"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript">

$('.resend-confirmation').tooltip({
    'title' : 'Resend confirmation link',
});

/* javascript for /settings/ page */
var settingsUrl = "/settings/";

$(".new-email-save").click(function(e) {
    e.preventDefault();

    $(".settings-success").hide();
    $(".settings-error").hide();
    $(".loading-gif").show();

    var newEmailInput = $(".new-email");
    var newEmail = newEmailInput.val();
    var postData = {
        "new_email":newEmail, 
    };

    $.post(settingsUrl, postData, function(data) {
        $(".loading-gif").hide();
        var error = data['error'];
        var message = data['message'];

        if (error === null) {

            $(".settings-success").html(message);
            $(".settings-success").fadeIn();

            $emailElm = '<li class="list-group-item email-address">' +
                    newEmail +
                    '<div class="email-btn delete-email" email="' + newEmail + '">' +
                        '<span class="glyphicon glyphicon-remove"></span>' + 
                    '</div>' + 
                    '<div class="email-btn resend-confirmation">' + 
                        '<span class="glyphicon glyphicon-envelope"></span>' + 
                    '</div>' + 
                '</li>';
            $('.list-group').append($emailElm);
        }
        else {
            $(".settings-error").html(error);
            $(".settings-error").fadeIn();
        }
    });
});

$('.delete-email').click(function() {
    var $emailElm = $(this).closest('.email-address');
    var deleteEmail = $(this).attr('email');
    var postData = {
        'delete_email' : deleteEmail,
    }
    $.post(settingsUrl, postData, function(data) {
        if (data['error'] == null) {
            $emailElm.remove();
        }
    });
});

</script>

{% endblock %}