{% load filters %}

{% include_style "css/share" %}

<div class="share">
    <div class="subshare">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="https://www.getparseltongue.com/" data-text="Secure your email from eavesdroppers. Encryption for Gmail, in your browser. #parseltongue"></a>

        <div class="g-plusone" data-size="medium" data-annotation="bubble"></div>

        <div class="fb-like" data-href="https://www.getparseltongue.com/" data-send="false" data-layout="button_count" data-width="300" data-show-faces="true" data-font="arial" data-action="like"></div>

        <a href="http://news.ycombinator.com/submit" class="hn-share-button"  data-title="Show HN: Client side Gmail Encryption" data-url="https://www.getparseltongue.com"></a>
    </div>
</div>

{% comment %}
    page that uses the snippet must 
    {% include_script "js/share" %}
    so the js is only included once. 
{% endcomment %}