{% extends "base.html" %}
{% load filters %}

{% block css %}
    {% include_style "css/team" %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="team">
            <h3> Team ParselTongue </h3>
            <hr>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {% include_script "js/ICanHaz" %}
        {% verbatim %} 
        <script id="user_template" type="text/html">
            <div data-id="{{ id }}" class="profile-wrap pull-left">
                <img class="img-circle profile-img" src="{{ img }}">
                <h4 class="profile-title">
                    <span class="profile-name"> 
                        {{ name }}
                    </span> ({{ school }})
                </h4>
                <p class="handles">
                    <a href="https://twitter.com/{{ twitter }}">
                        <img src="https://si0.twimg.com/favicons/favicon.ico"> @{{ twitter }} </a> |
                     <a href="http://github.com/{{ github }}/">
                        <img class="icon" src="https://github.com/favicon.ico"> {{ github }} 
                    </a>                
                </p>
                <p class="profile-blurb">
                    {{ blurb }}
                </p>
            </div>
        </script>
    {% endverbatim %}
    {% include_script "js/team" %}
{% endblock %}