<!DOCTYPE html>
<html>
  <head>
    <title>ICanHaz.js Demo</title>


    <style>
      body {
        font-family: Helvetica;
      }
    </style>
  </head>
  <body>
    <h1>ICanHaz.js Demo</h1>
    <h3>User List</h3>
    <button id="add_user">Add User</button>
    <ul class="team"></ul>
        <script src="/Users/joshblum/Dropbox/code/fakeblock/server/truespeak/static/js/jquery-1.10.2.min.js"></script>
    <script src="/Users/joshblum/Dropbox/code/fakeblock/server/truespeak/static/js/ICanHaz.js" ></script>

<script id="user_template" type="text/html">
        <div class="profile-wrap pull-left">
            <img class="img-circle profile-img" src="{{ img }}">
            <h4 class="profile-title">
                <span class="profile-name"> 
                    {{ name }}
                </span> ({{ school }})
            </h4>
            <p class="handles">
                <a href="https://twitter.com/{{ twitter }}">
                    <img src="https://si0.twimg.com/favicons/favicon.ico"> @{{ twitter }} </a> |
                 <a href="http://github.com/{{ github }}/">
                    <img class="icon" src="https://github.com/favicon.ico"> {{ github }} 
                </a>                
            </p>
            <p class="profile-blurb">
                {{ blurb }}
            </p>
        </div>
    </script>

    <script type="text/javascript">
var teamData = {
    "swang" : {
        "profile" : {
            "img" : "/static/img/team/stephanie-profile.png",
            "blurb" : "Boring Stephanie.",
            "name" : "Stephanie Wang",
            "twitter" : "swang_93",
            "github" : "stephanie-wang",
            "school" : "MIT '15",
        },
        "hover" : {
            "img" : "/static/img/team/disco-josh.gif",
            "blurb" : "Azn 4 lyfe. Math. Poop. Paint.",
            "name" : "swangster",
        },

    },
    "josh" : {

    },
    "max" : {

    },
}

function initTemplate(){
    // $.each(teamData, function(k, v) {
        debugger;
        var user = ich.user_template(teamData.swang.profile);
        // debugger
        console.log(teamData.swang.profile)
        // append it to the list, tada!
        //Now go do something more useful with this.
        $('.team').append(user);
        
    // });
}


$(document).ready(function () {
    initTemplate();
});
    </script>
  </body>
</html>