{% extends "base.html" %}
{% load filters %}

{% block css %}
    {% include_style "css/tutorial" %}
{% endblock %}

{% block body %}

    <div class="at-least container-narrow tutorial-wrapper">

        <div class="tutorial-header">
            <h2> 
                ParselTongue is ready to go!
            </h2>

            <p> 
                Feel free to <a href="https://mail.google.com">go straight to gmail</a> and try it out, but we recommend checking out the tutorial below (it's short).
            </p>

            {% include "tutorial_snippet.html" %}
        </div>

    </div>

{% endblock %}