{% load filters %} 

{% include_style "css/tutorial_snippet" %}

<div id="tutorial-carousel" class="carousel slide">
    <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#tutorial-carousel" data-slide-to="0" class="carousel-indicator active"></li>
    <li data-target="#tutorial-carousel" data-slide-to="1" class="carousel-indicator"></li>
    <li data-target="#tutorial-carousel" data-slide-to="2" class="carousel-indicator"></li>
    <li data-target="#tutorial-carousel" data-slide-to="3" class="carousel-indicator"></li>
    <!-- <li data-target="#tutorial-carousel" data-slide-to="4"></li> -->
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
        <div class="active item preview">
            <img class="carousel-image" src="/static/img/tutorial/ext-icon.png">
            <div class="carousel-caption">
                <p> 
                    Click the snake to log in and out, modify settings, or find the FAQ page 
                </p>
            </div>
        </div>
<!--         <div class="item preview">
            <img class="carousel-image" src="/static/img/tutorial/gmail-locked-new.png">
            <div class="carousel-caption">  
                <p>
                    Your Gmail will look exactly the same as it did before, except for one new button that appears when you write emails to other ParselTongue users.
                </p>
            </div>
        </div> -->
        <div class="item preview">
            <img class="carousel-image" src="/static/img/tutorial/gmail-unlocked.png">
            <div class="carousel-caption">
                <p>
                    Click the snake to encrypt your email. Only you and your email's recipients will be able to read it.
                </p>
            </div>
        </div>        
        <div class="item preview">
            <img class="carousel-image" src="/static/img/tutorial/gmail-locked.png">
            <div class="carousel-caption">
                <p>
                    Click the lock again, to send your email unencrypted.
                </p>
            </div>
        </div>
        <div class="item preview">
            <img class="carousel-image" src="/static/img/tutorial/ext-popup.png">
            <div class="carousel-caption">
                <p>
                    Use the popup to make encryption a default.
                </p>
            </div>
        </div>
    </div>

  <!-- Controls -->
  <div class="carousel-control-wrapper">
  <a class="left carousel-control" href="#tutorial-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  </div>
  <div class="carousel-control-wrapper">
  <a class="right carousel-control" href="#tutorial-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  </div>
</div>
