{% extends "base.html" %}
{% load filters %}

{% block css %}
    {% include_style "css/welcome" %}
{% endblock %}

{% block body %}

    <div class="at-least full-width">
        <div>
            <div class="pull-left welcome-text">
                Sending a confirmation email to:
                    {{ email_address }}
                <br>
                Redirecting to <a href="https://mail.google.com"> Gmail </a> in <span class="loading-time"> 5 </span> seconds.

            </div>
            <div class="pull-left loading-gif-lg"/>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {% include_script "js/welcome" %}
{% endblock %}