.jumbotron {
    margin: 0px 0;
    text-align: center;
    height:auto;
    margin-bottom:0px;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.err-page {
    background: none;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.success {
    background-color:lightblue;
}

.error {
    background-color:salmon;
}

.already-registered {
    margin-top: 17px;
    margin-left: 14px;
}

a.sign-in-button {
    margin-left:20px;
    color:white;
    float: left;
    margin-top: 8px;
    margin-right:10px;
}

.pt-logo {
    font-weight:bold;
    color:black;
}

.pt-footer {
    width: 77%;
    margin-left: 10%;
    padding-bottom:15px;
    padding-top:15px;
}

.footer-bar {
    border-top: 1px solid gray;
}

.twitter-link {
    margin-top:15px;
    margin-right:30px;
    color:black;
    float:right;
}

.twitter-link:hover {
    color:gray;
}

span.password-error-message {
    padding-left: 9px;
    color: red;
    margin-top:25px;
    float:left;
    width:100%;
    display:none;
}

.loading-gif {
    width: 100px;
    height: 100px;
    max-margin-left: 156px;
    margin-left:288px;
    margin-top: 22px;
    display:none;
    background-image: url("/static/img/flakes.gif")
}

.at-least {
    min-height:540px;
}

.user-name {
    margin-left:8px;
    margin-right:7px;
    font-weight:bold;
}

.pt-ext-installed {
    display:none;
}

/* github icon */

.icon {
    width: 16px;
    height: 16px;
}

/* Auth (register/login) */

.auth-container {
    float:left;
    background-color:white;
    padding-left:0px;
    background:none;
}

.auth-header {
    font-size: 50px;
    padding-bottom: 15px;
}

.auth-input {
    width: 400px;
    height: 50px;
    font-size: 19px;
    display: inline-block;
}

.auth-button {
    margin-left: 1%;
    max-width:400px;
    width:75%;
}