/* Main marketing message and sign up button */
.jumbotron {
    margin: 0px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.nav-logo {
    margin-left: 8px;
    margin-top: -8px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.success {
    background-color:lightblue;
}

.error {
    background-color:salmon;
}

.welcome-container {
    color:white;
    float:left;
    background-color:white;
    padding-top:0px;
    margin-top:20px;
    padding-left:0px;
    height:650px;
    background:none;
}

.sound-of-music {
    float:left;
    width:100%;
    z-index:-1;
}

.sound-of-music-header {
    float: left;
    margin-left: 0%;
    margin-top: 0px;
    word-wrap:break-word;
    padding-right:20px;
    margin-bottom: 23px;
    width:100%;
}

.over-sound-of-music {
    padding-right: 125px;
}

.upside-down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}



.form-group {
    margin-bottom: 13px;
    padding-left: 1%;
}

label {
    float: left;
    width: 100%;
    padding-top: 4px;
    font-size: 20px;
    #color: rgb(228, 228, 228);
    color: rgb(145, 145, 145);
}

.already-registered {
    margin-top: 17px;
    margin-left: 14px;
}

a.sign-in-button {
    margin-left:20px;
    color:white;
    float: left;
    margin-top: 8px;
    margin-right:10px;
}

.pt-logo {
    font-weight:bold;
    color:black;
}

.pt-footer {
    width: 77%;
    margin-left: 10%;
    padding-bottom:15px;
    padding-top:15px;
}

.footer-bar {

    border-top: 1px solid gray;
}

.footer-text {
    margin-top:15px;
    float:left;
}

.twitter-link {
    margin-top:15px;
    margin-right:30px;
    color:black;
    float:right;
}
.twitter-link:hover {
    color:gray;
}

span.password-error-message {
    padding-left: 9px;
    color: red;
    margin-top:25px;
    float:left;
    width:100%;
    display:none;
}

.login-error-message {
    margin-bottom: 25px;
}

.loading-gif {
    width: 100px;
    height: 100px;
    max-margin-left: 156px;
    margin-left:288px;
    margin-top: 22px;
    display:none;
    background-image: url("/static/img/flakes.gif")
}

.login-wrapper .over-sound-of-music {
    left: 47%;
}

.snake-drawing2 {
    top: 109px;
    width: 600px;
    position: absolute;
    left: 40%;
    z-index:-1;
}

.at-least {
    min-height:540px;
}

.jumbotron {
    height:auto;
    margin-bottom:0px;
}

.who-are-you {
    margin-left:8px;
    margin-right:7px;
    font-weight:bold;
}

.an-email {
    width:100%;
    margin-bottom:15px;
}

h1.welcome-header {
    color: white;
    margin-left: 8%;
    margin-top: 61px;
    font-size: 50px;
}

.welcome-wrapper {
    position: relative;
    top: -38px;
    width: 100%;
    padding-right: 0px;
}

.welcome-email-address {
    width:auto;
}

.initializing-image-wrapper {
    width:100%;
}

.initializing-image {
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
    width:200px;
}

.form-group {
    margin-top:-15px;
}

.about-wrapper {
    padding-bottom:70px;
    text-align: left;
}

.about-wrapper p {
    font-size:12pt;
    margin-top:30px;
}

.about-wrapper h3 {
    font-size:36px;
}

.pt_extension_installed {
    display:none;
}

.white-text {
    position:absolute;
}

.tutorial-wrapper p {
    font-size:20px;
    margin-top:30px;
}

.tutorial-wrapper h3 {
    margin-top:50px;
    font-size:36px;
}

.tutorial-wrapper {
    max-width:1100px;
    padding-left: 10%;
    padding-right: 12%;
    padding-bottom: 70px;
}

.tutorial-wrapper h3.super-duper-header {
    font-size:54px;
}

.screenshot-image {
    width:600px;
    max-width:100%;
    margin-top: 30px;
    border:1px solid lightgray;
    margin-bottom: 10px;
}

/* carousel overrides */
.carousel-caption {
    color: black;
    text-shadow:none;
}

.glyphicon-chevron-right {
    right:10% !important;
}

.glyphicon-chevron-left {
    left:10% !important;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.carousel-indicators .active {
    background-color: #000;
}

.carousel-indicators li {
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #000;
}

.floated-wrapper {
    width: 100%;
    float: left;
}

.icon {
    width: 16px;
    height: 16px;
}