.jumbotron {
    background:none;
    padding-top: 5px;
}

.faq-wrapper {
    padding-bottom:70px;
    text-align: left;
    margin-left:50px;
}

.faq-wrapper p {
    font-size:12pt;
    margin-top:30px;
}

.faq-wrapper h3 {
    font-size:36px;
}

.faq-nav {
    padding:15px;
    margin-top:25px;
    margin-left:20px;
    margin-right:20px;
    background: #eee;
    border-radius: 7px;
}
.nav .nav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
}

.nav .nav > .active > a,  
.nav .nav > .active:hover > a, 
.nav .nav > .active:focus > a {
    font-weight: 500;
    padding-left: 28px;
}