.navbar {
    margin-bottom: 0px;
}

.home-wrapper {
    background:none;
    padding-top: 30px; 
    padding-bottom: 20px;
}

.home-header {
    padding-top:35px;
}

.snake-icon {
    width: 118px;
    float: left;
    margin-top: 25px;
    position: relative;
    left: -10px;
}

.image-wrapper {
    float:right;
    width:80px;
}

.left-side {
    float:left;
    width:85%;
}

.chrome-btn {
    margin-top: 25px;
    width: 100%;
}