.navbar {
    margin-bottom: 0px;
}

.home-wrapper {
    background:none;
    padding-top: 60px;
    padding-bottom: 20px;
}

.home-bold-text {
    font-weight:300;
}

.snake-icon {
    width: 118px;
    float: left;
    position: relative;
    left: -10px;
}

.image-wrapper {
    float: left;

}

.left-side {
    float:left;
    width:85%;
}

.chrome-btn {
    margin-top: 25px;
    width: 100%;
}

.home-tutorial-header {
    margin-top: 60px;
    border-top: 1px solid gray;
    padding-top: 25px;
}