.initializing-img-wrapper {
    width:100%;
}

.initializing-img {
    height:40px;
    width:120px;
    background-image: url("/static/img/init_loading_dots.gif");
    background-repeat: no-repeat;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}