.auth-container {
    margin-left:5%;
    margin-top:50px;
}

.login-error-message {
    margin-bottom: 25px;
}

.login-left-side {
    float:left;
    margin-right:100px;
    margin-bottom:100px;
    max-width:400px;
}

.login-snake {
    width: 500px;
    float:left;
    margin-top:20px;
}

.login-gif {
    margin-left: 43%;
}

.password-error-message {
    max-width:400px;
}