.register-explain {
    float:left;
    max-width:95%;
}

.register-button {
    width:100%;
}

.register-loading {
    width: 60px;
    margin: auto;
    margin-top: 3px;
    background-image:none;
    height:auto;
    position: relative;
    left: 9px;
}
.ellipsis-gif {
    height:50px;
}

.register-message-wrapper {
    height:30px;
}

.loading-text {
    position: relative;
    top: -24px;
}

.upper-section {
    float:left;
}

.register-explain p {
    font-size: 18px;
    margin-top: 35px;
}

.register-form {
    float:left;
    width:405px;
    margin-right: 45px;
    min-height:290px;
}

.register-snake {
    z-index: -1;
    width: 450px;
    position:relative;
    top: -26px;
}
.snake-wrapper {
    height:100px;
    overflow:visible;
    float:left;
}

.register-container {
    float:none;
    margin:auto;
    width:80%;
}

@media only screen and (max-width: 1200px){
    .snake-wrapper {
        width:20%;
    }
}

@media only screen and (max-width: 750px){
    .snake-wrapper {
        display:none;
    }
}