.register-container {
    float:left;
    background-color:white;
    padding-left:0px;
    background:none;
}

.register-header {
    font-size: 50px;
    padding-bottom: 15px;
}

.register-input {
    width: 400px;
    height: 50px;
    font-size: 19px;
    display: inline-block;
}

.register-button {
    margin-left: 1%;
    max-width:400px;
    width:75%;
}

.register-explain {
    width: 90%;
}

.register-loading {
    position: absolute;
    left: 27.4%;
    top: 463px;
}

.register-explain p {
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 35px;
}

.form-group input {
    margin-bottom: 10px;
}

.snake-drawing {
    position: absolute;
    z-index: -1;
    width: 549px;
    left: 54%;
    top: 71px;
}
