.settings-wrapper {
    background-color: white;
}

.settings-wrapper h1 {
    font-size: 36px;
    margin-bottom: 60px;
}

.settings-messages {
    height: 110px;
}

.settings-success {
    color:#3276b1;
}
.settings-error {
    color:red;
}

.settings-wrapper .loading-gif {
    margin: auto;
    width: 70%;
}

.email-btn {
    float: right;
    color: black;
    cursor: pointer;
    padding: 0 7px;
}

.new-email-form {
    padding: 0;
    margin-bottom: 10px;
}

.new-email {
    float: left;
    margin: 0;
    width: 70%;
}

.new-email-save {
    float: left;
    margin: 0;
    margin-left: 5%;
    width: 25%;
    height: 50px;
}