.share {
    clear:both;
    height: 25px;
    text-align: center;
    padding: 15px 0px 0px;
}

.subshare {
    display: none;
}

.fb-like {
    padding-right:35px;
    top: -16px;
}

.hn-share-button {
    padding-right: 30px;
}