.tutorial-header {
    margin-top:30px;
    text-align: center;
}

.tutorial-header p {
    font-size:16pt;
}

.tutorial-header h2 {
    font-size:48px;
}

.tutorial-header-text {
    margin-bottom:25px;
}
.tutorial-intro-text {
    width:85%;
    margin:auto;
}